header {
  padding: 15px 30px;
  position: relative;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .overlay {
      display: flex;
      position: absolute;
      bottom: 0;
      transform: translateY(100%);
      left: 0;
      width:100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.75);
      z-index: 3;
    }

    li {
      font-size: 0.9rem;
      letter-spacing: 2px;
      transition: 0.2s;
      position: relative;
    }
    button {
      background-color: $pureBlack;
      color: $pureWhite;
      font-weight: 200;
      padding: 17px 17px;
      cursor: pointer;
      transition: 0.2s;
      border: none;
      font-size: 0.8rem;
      letter-spacing: 2px;

      &:hover {
        background-color: $lightGray;
        color: $pureBlack;
      }
    }

    .navbar__mobile__menu {
      position: absolute;
      z-index: 4;
      bottom: 0;
      left: 0;
      transform: translateY(100%);
      background-color: $pureWhite;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 40px 20px;
      border-top: 2px solid $lightGray;
      gap: 10px;

      hr {
        margin: 10px;
        width: 100%;
      }

      ul {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      button {
        width: 100%;
      }
    }
    .nav-big-screen {
      display: none;
    }

    .btn-big-screen {
      display: none;
    }
  }
}

@media screen and (min-width: 780px) {
  header {
    padding: 15px 80px;
    position: relative;

    .navbar__mobile__menu {
      display: none !important;
    }
    .btn-big-screen {
      display: block !important;
    }
    .mobile {
      display: none;
    }

    .nav-big-screen {
      display: flex !important;
      gap: 30px;
      width: fit-content;

      li {
        &::before {
          content: "";
          width: 0%;
          position: absolute;
          height: 1px;
          background-color: rgba(0, 0, 0, 0.6);
          bottom: -2px;
          left: 50%;
          transform: translateX(-50%);
          transition: 0.3s;
        }

        &:hover {
          color: rgb(0, 0, 0, 0.5);

          &::before {
            width: 90%;
          }
        }
      }
    }
  }
}
