.home__outro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 130px 30px;
  gap: 80px;
  .box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    img {
      width: 70px;
      margin: auto;
    }

    .title {
      font-weight: 700;
    }

    .text-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

@media screen and (min-width: 600px) {
  .home__outro  {
    position: relative;

    &::after {
      content: "";
      width: 7px;
      height: 50%;
      background-color: $lightGray;
      left: 22%;
      position: absolute;
      z-index: -1;
    }

    .box {
      flex-direction: row;
      justify-content: center;
      gap: 0;

      img {
        width: fit-content;
        background-color: $pureWhite;
        padding: 10px;
        z-index: 2;
      }
      .text-content {
        width: 60%;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .home__outro  {
    flex-direction: row;
    gap: 10px;

    &::after {
      display: none;
    }

    .box {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 33.3%;
    }

    .text-content {
      width: 100% !important;
    }

    .container-img {
      height: 100px;
      display: flex;
      align-items: center;
    }
  }
}
